.TodaysTotals {
    border: 1px solid black;
}

.TodaysTotals__row,
.TodaysTotals__row--header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid gray;
}

.TodaysTotals__row--header {
    border-bottom: 1px solid black;
}

.TodaysTotals__row:last-of-type {
    border-bottom: none;
}

.TodaysTotals__column {
    border-right: 1px solid gray;
    padding: 0 4px;
}

.TodaysTotals__column:last-of-type {
    border-right: none;
}
